DATABASE_URL=postgresql://postgres:password@project.pooler.supabase.com:6543/postgres
INTERNAL_API_KEY=
MONOBANK_TOKEN=
MONOBANK_TEST_TOKEN=
WNBF_CHECKOUT_SECRET=

GMAIL_USER=
GMAIL_APP_PASSWORD=
SMTP_FROM=
MAIL_SEND_TO=

PORT=3001
